

* {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition-duration: .2s;
}

body {
  width:95vw;
  height:86vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77a358+0,156d23+94 */
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#41700e;
  background-size:16px 16px; Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77a358', endColorstr='#156d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  display: grid;
  grid-template-areas:
    'gameName deck burned title'
    'player1 mesa mesa player3'
    'player1 mesa mesa player3'
    'player2 mycards mycards player4'
    'player2 mycards mycards player4';
  grid-auto-columns: 25%;  
  grid-auto-rows: 20%;  
  grid-gap: 2px;

  font-size: medium;
}


label {
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  color:white;
  background-color: transparent;
  transform: rotate(-4deg);
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
}

h1 {
  color: #f1c289;
  margin: 5px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */  
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

P {
  font-size: small;
}



.currentPlayer {
  -webkit-text-fill-color: yellow  !important;
}

.playerOnSetup {
  -webkit-text-fill-color: #898f8d  !important;
}

.playerOut {
  -webkit-text-fill-color: #55b8ff  !important;
}

.hidden {
  display: none !important;
}

.button {
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  color:white;
  background-color: transparent;
  transform: rotate(-4deg);
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
  user-select: none;
}

.button:hover {
  transform: scale(1.2);
}

.playerActionButton {
  top: 60%;
  left: 60%;
  user-select: none;
  float: left;
  position: absolute;
}


.deck {
  grid-area: deck;
}

.burned {
  grid-area: burned;
}

.burnedLastTime {
  -webkit-text-fill-color: red !important;;
    animation: opacity 0.8s ease-in-out infinite;
    opacity: 1;
}

.mesa {
  grid-area: mesa;
  transform: rotate(0deg) !important;
  background-color: #607d40;
  border-radius: 25px;
  border-style: solid;
  border-color: #426f0f;
  border-width: 4px;
}

.playerCards {
  position: relative;
  transform: rotate(2deg);
}

.player1 {
  grid-area: player1;
}
.player2 {
  grid-area: player2;
}
.player3 {
  grid-area: player3;
  justify-self: end;
}
.player4 {
  grid-area: player4;
  justify-self: end;  
}

.cardBlock {  
  display: inline;
  z-index: 16;
  color:white;
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: #FFFFFF;
}

.cardRack {
  display: grid;
  margin-top: 10px;
}

.mycards {
  grid-area: mycards;
  display: inline;
  padding-right: 30px;
}

.cardsDown {
   display: grid;  
   grid-area: 1 / 1 / 3 / 1; 
   grid-auto-columns: min-content;
}
.cardsUp {
   display: grid;  
   grid-area: 2 / 1 / 4 / 1; 
   grid-auto-columns: min-content;
}

.touchMovable {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  will-change: transform;
  z-index: 10000;
  opacity: 0.5;
}


/* IDS */


#commenceGame {
    display: inline;
    float: left;
}

#collectMesa {
  display: inline-block;
}

#collectMesa:hover {
  transform: scale(1.1);
}

#myCards {
   display: grid;  
   grid-area: 3 / 1 / 5 / 1; 
   grid-auto-columns: min-content;      
}

#playerCards {
  display: grid;
}

#mesaCards {
  position: relative;
  display: grid;
  grid-auto-columns: min-content;
  margin-top: 15px;
}

#deckCards {
  position: relative;
  display: block;
  vertical-align: top;
  margin-top: 10px;
}

#burnedCards {
  position: relative;
  display: block;
  vertical-align: top;
  margin-top: 10px;
}

#title {
    grid-area: title;
    color: #f1c289;
    justify-self: end;
    display: block;
    text-align: right;
    float: right;
}

#gameStarter {
    position: absolute;
    width: 98%;
    height: 96%;
    background-color: green;
    z-index: 1000;
    border: 3px dashed;
    margin: -5px; 
    color: beige;
}

#gameNameDisplay {
    grid-area: gameName;
    color: #f1c289;
    font-style: italic;
}

#dataForm {
  position: relative;
  max-width: 500px; 
  left: 10%; 
  width: 80%; 
}

#infoBoxTitle{
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
  color: yellow;
}
#infoBoxTitle:hover{
  text-decoration: underline;
  color: yellow;
}

#infoBox {
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height 0.2s ease-out;
  height: 40vh;
  margin: 10px;
  background-color: #607d40;
}


IMG.carta {
  transform: rotate(171deg);
  -webkit-box-shadow: 3px 2px 32px 4px rgba(0,0,0,0.88);
  width: 9vw;

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

.mycards IMG.carta {
  width: 12vw;
}


#mesaCards IMG.carta {
  width: 12vw;
}


IMG.selected {
  border: solid 3px yellow !important;
}


IMG.lastDown {
  border: dashed 2px #e52424;
}




/*
@media only screen and (max-width: 1000px)  and (orientation: portrait) {
  IMG.carta {
      width: 10vw;
  }
}
*/

@media screen and (min-width: 800px) {
  * {
    font-size: x-large;
  }
  P {
    font-size: large;
  }
  IMG.carta {
      width: 5vw;
  }
  .mycards IMG.carta {
      width: 6vw;
  }
  #mesaCards IMG.carta {
      width: 6vw;
  }
  #burnedCards {
    position: relative;
    display: inline;
    vertical-align: top;
    margin-left: 10px;
  }

  #deckCards {
    position: relative;
    display: inline;
    vertical-align: top;
    margin-left: 10px;
  }
  #infoBox {
    height: 15vw;
  }
}
