

* {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition-duration: .2s;
}

body {
  width:95vw;
  height:92vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77a358+0,156d23+94 */
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#41700e;
  background-size:16px 16px; Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77a358', endColorstr='#156d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  display: grid;
  grid-template-areas:
    'gameName deck burned title'
    'player1 mesa mesa player3'
    'player1 mesa mesa player3'
    'player2 mycards mycards player4'
    'player2 mycards mycards player4';
  grid-auto-columns: 25%;  
  grid-auto-rows: 20%;  
  grid-gap: 5px;
  padding: 10px;
}


.currentPlayer {
  -webkit-text-fill-color: yellow  !important;
  font-size: 30px;
}

.playerOut {
  -webkit-text-fill-color: #55b8ff  !important;
  font-size: 30px;
}


.hidden {
  display: none !important;
}

.button {
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  color:white;
  position: absolute;
  background-color: transparent;
  font-size: 25px;
  transform: rotate(-4deg);
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
}

label {
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  color:white;
  background-color: transparent;
  font-size: 20px;
  transform: rotate(-4deg);
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
}

h1 {
      color: #f1c289;
}
.starter {
  top: 70%;
  left: 60%;
}

.discard {
  top: 70%;
  left: 60%;
}

.commence {
  position: relative;
  float: left;
}

#commenceGame {
    display: inline;
    float: left;
}

#collectMesa {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  color:white;
  background-color: transparent;
  font-size: 25px;
  transform: rotate(-4deg);
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: yellow;
}

#collectMesa:hover {
  transform: scale(1.1);
}

.button:hover {
  transform: scale(1.2);
}


.deck {
  grid-area: deck;
}

.burned {
  grid-area: burned;
}

.burnedLastTime {
  -webkit-text-fill-color: red !important;;
}

.mesa {
  grid-area: mesa;
  transform: rotate(0deg) !important;
  background-color: #426f0f;
}


.playerCards {
  position: relative;
  transform: rotate(2deg);
}

.player1 {
  grid-area: player1;
}
.player2 {
  grid-area: player2;
}
.player3 {
  grid-area: player3;
  justify-self: end;
}
.player4 {
  grid-area: player4;
  justify-self: end;  
}

.cardBlock {  
  display: inline;
  
  z-index: 16;
  color:white;
  font-size: 25px;
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 0.4px #000000;
  -webkit-text-fill-color: #FFFFFF;

}

.cardRack {
  display: grid;
  margin-top: 10px;
}

.mycards {
  grid-area: mycards;
  display: inline;

}

.cardsDown {
   display: grid;  
   grid-area: 1 / 1 / 3 / 1; 
   grid-auto-columns: min-content;
}
.cardsUp {
   display: grid;  
   grid-area: 2 / 1 / 4 / 1; 
   grid-auto-columns: min-content;
}
#myCards {
   display: grid;  
   grid-area: 3 / 1 / 5 / 1; 
   grid-auto-columns: min-content;
}

#playerCards {
  display: grid;
}

#mesaCards {
  position: relative;
  display: grid;
  grid-auto-columns: min-content;
  margin-top: 15px;
}
#deckCards {
  position: relative;
  display: inline;
  vertical-align: top;
  margin-left: 10px;
}
#burnedCards {
  position: relative;
  display: inline;
  vertical-align: top;
  margin-left: 10px;
}

#title {
    font-size: x-large;
    grid-area: title;
    color: #f1c289;
    justify-self: end;
    display: block;
    text-align: right;
    float: right;
}

#gameStarter {
    position: absolute;
    width: 96%;
    height: 95%;
    background-color: green;
    z-index: 1000;
    border: 3px dashed;
    margin: -5px; 
    color: beige;
}

#gameNameDisplay {
    font-size: x-large;
    grid-area: gameName;
    color: #f1c289;
    font-style: italic;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */  
}



IMG.carta {

  transform: rotate(171deg);
  -webkit-box-shadow: 3px 2px 32px 4px rgba(0,0,0,0.88);
  width: 5vw;

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

@media only screen and (max-width: 1000px)  and (orientation: portrait) {
  IMG.carta {
      width: 10vw;
  }
}


IMG.selected {
  border: solid 3px yellow;
}


IMG.lastDown {
  border: solid 3px darkRed;
}

H1 {
  margin: 5px;
}
